@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    list-style-type: none;
    color: var(--primary);
    font-family: "Nunito", 'Poppins', Verdana, Geneva, Tahoma, sans-serif, Georgia, 'Times New Roman', Times, serif;
}

:root {
    --body: #332D56;
    --primary: #71C0BB;
    --secondary: #E3EEB2;
    --light: #4E6688;
}

body {
    position: relative;
    background-color: var(--body);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    max-height: 100dvh;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

::selection {
    background-color: var(--secondary);
    color: var(--body);
}

.preloader {
    position: fixed;
    height: 100dvh;
    width: 100%;
    background-color: var(--body);
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullets {
    display: flex;
    gap: 10px;
}

.bullets div {
    height: 12px;
    width: 12px;
    background-color: var(--secondary);
    border-radius: 50%;
    animation: load;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    box-shadow: 0 0 25px var(--light);

}

.bullets div:nth-of-type(2) {
    animation-delay: 0.125s;
}

.bullets div:nth-of-type(2) {
    animation-delay: 0.250s;
}

.bullets div:nth-of-type(3) {
    animation-delay: 0.375s;
}

.bullets div:nth-of-type(4) {
    animation-delay: 0.500s;
}

@keyframes load {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

/* header styles */
header {
    width: 100%;
    position: fixed;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 10;
    background-color: var(--body);
    box-shadow: 0 1px 1px var(--primary);
}

header .logo a {
    font-size: 35px;
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
}

header .nav-links a,
button {
    display: inline-block;
    padding: 7px 5px;
    margin: 0 8px;
    font-size: 18px;
    cursor: pointer;
    color: var(--primary);
}

button {
    transition: 0.3s;
}

header .nav-links a:hover {
    color: var(--secondary);
    text-decoration: none;
}

header .nav-links a.active {
    color: var(--secondary);
    border-bottom: 2px solid var(--secondary);
    font-weight: 600;
}

header .nav-links a:last-child,
button {
    background-color: transparent;
    border-radius: 5px;
    color: var(--body);
    padding: 7px 15px;
    border: none;
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

header .nav-links a:last-child {
    font-size: 15px;
    padding: 5px 15px;
}

header .nav-links a:last-child:hover,
button:hover {
    background-color: var(--secondary);
    color: var(--body);
}

header .nav-links a:last-child:active,
button:active {
    transform: scale(0.98);
}

header .menu {
    display: none;
}

section {
    padding: 0 100px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .left {
    width: 50%;
    max-width: 600px;
    transition: 0.5s;
    transform: translateX(-25px);
    opacity: 0;
}

.home .left h1 {
    font-size: 80px;
    font-weight: 500;
    color: var(--secondary);
}

.home .left h2 {
    font-size: 35px;
}

button {
    margin: 20px 10px 0 0;
    padding: 5px 25px;
    background-color: transparent;
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

button:hover {
    background-color: var(--secondary);
    color: var(--body);
}

.home .social {
    margin-top: 20px;
}

.home .social a {
    background-color: transparent;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 10px 13px;
    border-radius: 50%;
    transition: 0.5s;
    margin-right: 15px;
    border: 2px solid var(--primary);
}

.home .social a:hover{
    background-color: var(--primary);
}

.home .social a:hover i{
    color: var(--body);
}

.home .social a i {
    font-size: 20px;
    color: var(--primary);
}

.home .right {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    transition: 0.5s;
    transform: translateX(25px);
    opacity: 0;
    border-radius: 50%;
    border: 2px solid var(--secondary);
}

section.reveal .left,
section.reveal .right {
    opacity: 1;
    transform: translateX(0);
}

.home .right img {
    height: 400px;
    width: 400px;
    display: block;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 50px var(--light);
    background-image: linear-gradient(var(--secondary), var(--light));
    background-color: var(--body);
    transition: transform 0.3s;
    cursor: pointer;
}

.home .right:hover {
    transform: scale(1.03);
}

/* about styles */
.about-content {
    opacity: 0;
    transform: translateY(25px);
    transition: 0.5s;
    visibility: hidden;
}

section.reveal .about-content {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.about,
.section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 50px;
}

.section h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary);
    font-family: "Montserrat", 'Poppins', Verdana, Geneva, Tahoma, sans-serif, Georgia, 'Times New Roman', Times, serif;
}

.about p {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.about ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.about ul li {
    padding: 10px;
    text-align: center;
    flex: 1 1 400px;
    transition: 0.3s;
    border: 2px solid var(--light);
    cursor: pointer;
}

.about ul li:hover {
    box-shadow: 0 0 15px var(--light);
}

.about ul li span {
    font-weight: 600;
}

h1 span {
    color: var(--secondary);
}

.about .btn {
    text-align: center;
    margin-top: 15px;
}

/* education  styles */
.education .education-card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
    justify-content: space-between;
}

.education .education-card {
    display: block;
    border: 2px solid var(--light);
    flex: 1 1 300px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    transform: translateY(25px);
    opacity: 0;
    visibility: hidden;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    z-index: 5;
}
.education-card::before {
    content: '';
    position: absolute;
    top: -60px;
    left: calc(50% - 125px);
    width: 250px;
    height: 120px;
    background: var(--light);
    border-radius: 50%;
    pointer-events: none;
    transform: scale(1);
    transition: opacity 0.6s, transform 0.8s;
    z-index: -1;
}

section.reveal .education-card,
section.reveal .project-card,
section.reveal.blogs a {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.education .education-card h2 {
    text-align: center;
    position: relative;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.education .education-card h2:after {
    content: '';
    position: absolute;
    height: 5px;
    background-color: var(--secondary);
    width: 30%;
    top: 35px;
    left: 35%;
    border-radius: 25px;
}

.education .education-card .card-item {
    background-color: transparent;
    padding: 10px 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    border-bottom: 1px solid var(--secondary);
}

.education .education-card .card-item p,
.education .education-card .card-item a {
    color: var(--secondary);
    /* font-size: 14px; */
}

.education .education-card .card-item p span {
    font-weight: 600;
    font-size: 17px;
}


.education .education-card .card-item {
    border: none;
    border-left: 2px solid var(--secondary);
    position: relative;
    padding: 0 10px 25px 20px;
    text-align: left;
}

.education .education-card .card-item:last-of-type {
    border-bottom: none;
    padding: 0 10px 0 20px;
}
.education .education-card .card-item::before {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--light);
    border: 2px solid var(--secondary);
    right: calc(100% - 6.5px);
    top: 5px;
}

.education .education-card .card-item a i {
    font-size: 12px;
}

.education-card .card-item a:hover {
    color: var(--secondary);
}

.education .education-card:hover {
    box-shadow: 0 0 10px var(--light);
    border: 2px solid var(--primary);
}

.education-card .card-item div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.education-card .card-item div {
    align-items: flex-start;
}

.education .education-card .card-item:first-of-type {
    margin-top: 25px;
}

/* skillls styles new */
.skill-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: 0;
    transform: translateY(25px);
    transition: 0.5s;
    visibility: hidden;
}

section.reveal .skill-card-wrapper {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.skill-item-wrapper {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.skill-item {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid var(--secondary);
    gap: 15px;
    position: relative;
    padding: 20px;
    border-radius: 0 20px 0 20px;
    cursor: pointer;
    transition: 0.3s;
}

.skill-item:hover img {
    transform: scale(1.1);
}

.skill-item:hover {
    box-shadow: 0 0 10px var(--light);
}

.skill-item img {
    width: 50%;
    height: 48%;
    transition: 0.2s;
}

.skill-item h2 {
    font-size: 16px;
}

/* project styles */

.swiper {
    width: 100%;
    height: 80vh;
    opacity: 0;
    transform: translateY(25px);
    transition: 0.5s;
}

section.reveal .swiper {
    transform: translateY(0);
    opacity: 1;
}

.projects>h1 {
    margin: 0;
}

.swiper-wrapper {
    margin-top: 25px;
    width: 100%;
    display: flex;
    /* align-items: stretch; */
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
}

.swiper-slide {
    transition: 0.5s;
    flex: 1 1 350px;
}

.project-card {
    cursor: pointer;
    height: 100%;
    transition: 0.5s;
    transition: 0.5s;
    transform: translateY(25px);
    opacity: 0;
    visibility: hidden;
}

.project-card .img {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.project-card h2 {
    display: flex;
    align-items: center;
    font-size: 19px;
    margin: 5px 0;
}

.project-card h2 span {
    flex: 1;
    color: var(--secondary);
    font-weight: 600;
}

.project-card p {
    font-size: 15px;
    color: var(--primary);
    text-align: left;
}

.project-card h2 i {
    margin-left: 10px;
    color: var(--body);
    border-radius: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    font-size: 14px;
    transition: 0.3s;
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

.project-card h2 i:first-of-type {
    font-size: 17px;
}

.project-card h2 i:hover {
    background-color: var(--secondary);
    color: var(--body);
}

.project-card .img img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.tech button {
    font-size: 15px;
    padding: 3px 10px;
    margin: 10px 10px 0 0;
    pointer-events: none;
}

.tech button:first-of-type {
    background-color: rgb(233, 239, 255);
    color: rgb(30, 6, 139);
    border: 1px solid rgb(30, 6, 139);
}

.tech button:nth-of-type(2) {
    background-color: rgb(218, 255, 218);
    color: green;
    border: 1px solid green;

}

.tech button:nth-of-type(3) {
    background-color: rgb(255, 254, 218);
    color: rgb(120, 80, 7);
    border: 1px solid rgb(120, 80, 7);

}

.tech button:nth-of-type(4) {
    background-color: rgb(255, 218, 218);
    color: rgb(197, 0, 0);
    border: 1px solid rgb(197, 0, 0);

}

.tech button:nth-of-type(5) {
    background-color: rgb(238, 218, 255);
    color: rgb(148, 0, 197);
    border: 1px solid rgb(148, 0, 197);

}

.swiper-pagination-bullet {
    background-color: transparent;
    border: 2px solid white;
    opacity: 0.6;

}

.swiper-pagination-bullet-active {
    background-color: white;
    box-shadow: 0 0 10px var(--main);
    opacity: 1;
}

.contact-icon {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1;
}

.contact-icon i {
    font-size: 25px;
    background-color: var(--secondary);
    color: var(--body);
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;

}

.contact-icon i:hover{
    background-color: var(--primary);
}

/* blogs styles */
.blogs .swiper-wrapper a {
    flex: 1 1 350px;
    height: 350px;
    display: inline-flex;
    transition: 0.5s;
    visibility: hidden;
    transition: 0.5s;
    transform: translateY(25px);
}

.blogs .blog-card {
    flex: 1 1 350px;
    padding: 10px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--secondary);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    z-index: 5;
    transition: 0.3s;
}
.blog-card::before{
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    background: var(--light);
    border-radius: 50%;
    pointer-events: none;
    transform: scale(1);
    transition: opacity 0.6s, transform 0.6s;
    z-index: -1;
}
.blog-card:hover::before,
.education-card:hover::before {
    opacity: 1;
    transform: scale(12);
}

.blogs .blog-card img {
    width: 80px;
    height: 80px;
}

.blogs .blog-card h1 {
    font-size: 2em;
    text-transform: capitalize;
    margin-top: 10px;
}

section.reveal .project-card,
section.reveal.blogs .swiper-wrapper a {
    cursor: pointer;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

section.reveal.blogs .blog-card:hover {
    box-shadow: 0 0 15px var(--light);
}

/* contact form styles */

.contact form {
    width: 100%;
    max-width: 900px;
    transform: translateY(25px);
    transition: 0.5s;
    opacity: 0;
}

.contact form small {
    color: rgb(255, 121, 121);
    font-size: 16px;
}

section.reveal form {
    transform: translateY(0);
    opacity: 1;
}

.contact form .input-box {
    width: 100%;
    margin: 15px 0;
}

.input-box:first-of-type {
    display: flex;
    gap: 10px;
}

.input-box input,
textarea {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--light);
    font-size: 16px;
    border-radius: 5px;
    /* border: none; */
    outline: none;

}

.input-box input:focus,
textarea:focus {
    border: 2px solid var(--secondary);
    box-shadow: 0 0 10px var(--secondary);
}

.input-box:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;

}

.input-box button {
    width: 150px;
}

footer p {
    text-align: center;
    margin: 0 0 5px 0;
    background-color: var(--light);
}

/* projects page styles */
main {
    padding: 12vh 100px 25px;
    min-height: 100dvh;
}

main h1 {
    text-align: center;
}

main .project-wrapper>div {
    display: flex;
    flex-direction: column;
    gap: 7px;
    transform: scale(0.5);
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: transform 0.5s;
}

main .project-wrapper>div.active {
    box-shadow: 0 0 5px var(--secondary);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 7px;
    transform: scale(1);
    opacity: 1;
    height: max-content;
}

main .project-wrapper h2 {
    display: flex;
    gap: 15px;
    align-items: center;
}

main .project-wrapper h2 span,
main .project-wrapper h2 i {
    font-size: 0.7em;
}

main .project-wrapper h2 i {
    font-size: 15px;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

main .project-wrapper h2 i:hover {
    color: var(--body);
}

main .project-wrapper ul li {
    list-style-type: circle;
}

main .project-wrapper ul li {
    font-size: 15px;
    color: var(--primary);
}

.dropdown button {
    margin: 0;
    border-radius: 0;
    font-size: 15px;
}

.dropdown-menu button:hover {
    box-shadow: none;
}

.dropdown-menu {
    padding: 0;
}

main .tech {
    padding: 0;
}

main .tech button {
    margin: 0 10px 5px 0;
}

a:hover {
    text-decoration: none;
}

@keyframes animate {
    0% {
        transform: translate(-15px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }
}



@media all and (max-width:1200px) {

    header,
    section,
    .section {
        padding: 25px;
    }

    main {
        padding: 12vh 25px 25px;
    }

    header .nav-links a {
        margin: 0;
    }

    .home .left h1 {
        font-size: 60px;
        font-weight: 600;
    }

    .home .left h2 {
        font-size: 25px;
    }

    .home .right img {
        height: 300px;
        width: 300px;
    }


}

@media all and (max-width: 950px) {
    header {
        padding: 0 15px;
        height: 55px;
    }

    header .logo {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    header .menu {
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
    }

    header .menu:hover {
        background-color: var(--body);
        box-shadow: none;
        color: var(--primary);
    }

    header .nav-links {
        position: absolute;
        top: 56px;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        background-color: var(--body);
    }

    header .nav-links.active {
        left: 0;
    }

    header .nav-links a {
        display: block;
        text-align: center;
        padding: 25px 0;
        border-bottom: 1px solid var(--secondary);
    }

    header .nav-links a:last-of-type {
        display: none;
    }

    header .logo a {
        font-size: 25px;
    }
}

@media all and (max-width:850px) {
    .home {
        padding-top: 70px;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 15px;
    }

    .home .right img {
        height: 250px;
        max-width: 250px;
    }

    .home .left {
        text-align: center;
        width: 100%;
    }

    .home .left h1 {
        font-size: 35px;
    }

    .home .left h3 {
        font-size: 18px;
        width: 100%;
    }

    .home .left p {
        font-size: 14px;
    }

    .home .social {
        margin-top: 5px;
    }

    .home .social a {
        height: 35px;
        width: 35px;
    }

    .home .social a {
        margin-right: 5px;
    }

    .about p,
    li {
        font-size: 14px;
    }

    .education .bar div {
        font-size: 15px;
    }

    .section>h1 {
        font-size: 37px;
    }

    .project-card .img {
        height: 50%;
        width: 100%;
    }

    .skills .skill-card .card-item *,
    .education .education-card .card-item * {
        font-size: 15px;
    }

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 50px;
    }

    .input-box:first-of-type {
        flex-direction: column;
    }

    footer p {
        font-size: 11px;
    }

    .skill-item-wrapper {
        background-color: transparent;
        width: 160px;
        height: 160px;
    }

    .skill-item h2 {
        font-size: 11px;
    }
    .skill-item img {
        height: 50%;
        width: 50%;
    }
    .blogs .blog-card h1 {
        font-size: 1.5em;
    }


}

.education-card .card-item a:hover i,
.education-card .card-item a i:hover {
    background-color: transparent;
    color: var(--secondary);
}

@media all and (max-width:400px) {
    .swiper-slide {
        height: max-content;
    }

    .skill-item-wrapper {
        background-color: transparent;
        width: 90px;
        height: 90px;
    }

    .skill-item-wrapper .skill-item-name h2 {
        font-size: 14px;
    }
}